<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liuyongde.demo.mapper.SysUserMapper" >
    <select id="findByUsername"  resultType="com.liuyongde.demo.domain.SysUser" parameterType="java.lang.String">

        select * from sys_user

        where

        username = #{username}

    </select>
</mapper>